
:root{
    --body-color: #f3f3f3;
    --sidebar-color: #FFF;
    --primary-color: #000000;
    --primary-color-light: #dfdfdf;
    --toggle-color: #DDD;
    --text-color: #222222;
    --widget-text: #2e2e2e;
    --widget-color: #f7f7f7e7;

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}