
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
  
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--body-color);
    transition: var(--tran-05);

}

.home .text{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 30px;
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
.widget{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.widget1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 30px;
  height: 200px;
  width: 400px;
  border-radius: 25px;
  background-color: var(--widget-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 4px 3px 8px 1px #96969633;
  -webkit-box-shadow: 4px 3px 8px 1px #96969633;
    animation-name: fadeIn;
    animation-duration: 1.5s ;

}
.widget1 h5 {
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  color: white;
  filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
}
@media screen and (max-width: 800px) {
  .widget1 {
    width: 600px;
  }
}

 .username{
    margin-left: 10px;
    margin-right: 10px;
 }
 .datetime .timetext {
  
    justify-content: center;
    display: flex;
    color: white;
    font-size: 30px;
    font-weight: 700;
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
 }
 .datetime i {
    padding-top: 7px;
 }


 .datetime .datetext {
  
    padding-left: 25px;
    padding-top: 25px;
    color: white;
    font-size: 20px;
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
 }
 .activite {
    margin-left: 30px;
    margin-bottom: 30px;
    height: 200px;
    width: 400px;
    border-radius: 25px;
    background-color: var(--widget-color);
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
      animation-name: fadeIn;
      animation-duration: 1.5s;
}


.footer {
    width: 100%;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

.footer .footer-text {
    color: var(--text-color);
    padding-bottom: 20px;
}

  .userchange{
    background-color:var(--widget-color);
    position: absolute;
    right: 0;
    margin-top: 30px;
    margin-right: 20px;
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
    padding: 5px 20px;
    border-radius: 10px;
  }
  .top {
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .usertext {
    
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: var(--widget-text);
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
  }

.bottombar {
  display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 30px;
    height: 140px;
    width: 830px;
    border-radius: 25px;
    background-color: var(--widget-color);
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
      animation-name: fadeIn;
      animation-duration: 1.5s;
}
.bottombar img {
  height: 100px;
 
}
.homecard {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 20px;
  margin-left: 7px;
  margin-right: 7px;
  box-shadow: 4px 3px 8px 1px #96969633;
  -webkit-box-shadow: 4px 3px 8px 1px #96969633;
}

@media screen and (max-width: 1000px) {

  .bottombar{
      display: none;
  }

}

